<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>From Bindings</title>
    <link rel="stylesheet" href="./css/main.css" />
    <link rel="stylesheet" href="./css/01-FromBindings.css" />
    <link rel="stylesheet" href="./css/02-Checkbox.css" />
  </head>
  <body>
    <div id="app">
      <div class="input-box">
        <p>E-MAIL</p>
        <input
          type="text"
          placeholder="輸入email"
          v-model="email"
        />
      </div>
      <div class="input-box">
        <p>PASSWORD</p>
        <input
          type="text"
          placeholder="輸入密碼"
          v-model="password"
        />
      </div>
      <ul class="input-box">
        <li v-for="item in courseslist.tags" :key="item.tag">
          <input
            type="checkbox"
            :id="item.tag"
            :value="item.tag"
            v-model="courseslist.selectArr"
          />
          <label :for="item.tag">{{item.tag}}</label>
        </li>
      </ul>
      <div class="input-box">
        <input
          type="checkbox"
          id="checkbox"
          v-model="terms"
        />
        <label for="checkbox">我已閱讀使用者條款</label>
      </div>
      <a class="btn" @click="handSubmit">送出</a>
    </div>
    <script src="./js/vue.js"></script>
    <script>
      const {ref, reactive} = Vue,
      App = {
        setup(){
          // 在setup內寫let、const、function
          const email = ref(''),
                password = ref(''),
                terms = ref(false),
                courseslist = reactive({
                  selectArr : [],
                  tags: [
                    { tag: "JavaScript" },
                    { tag: "Html" },
                    { tag: "Css" },
                    { tag: "Html5" },
                    { tag: "Vuejs" },
                    { tag: "React" },
                    { tag: "Sass" },
                    { tag: "Css3" },
                    { tag: "Canvas" },
                  ],
                }),
                handSubmit = () => {
                  const data = {
                    email : email.value,
                    password : password.value,
                    terms : terms.value,
                    courseslist : courseslist.selectArr
                  }
                  console.log(data);
                  console.log(courseslist.selectArr);
                };
          return {email,password,terms,handSubmit,courseslist};
        },
      };
      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
